@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: "Madimi One", sans-serif;
}

.container {
  width: 60rem;
  height: 100vh;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  align-self: flex-start;
  margin: 1rem 2rem;
  font-size: 3rem;
  color: blueviolet;
}

.form {
  width: 90%;
  margin: 1rem 2rem;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  display: flex;
  align-self: start;
  border: 1px solid black;
}

.form-header {
  margin-right: 3rem;
}

button,
select,
input {
  font-family: inherit;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.button {
  margin-left: auto;
}

.input {
  flex-grow: 1;
  margin: 0 1.5rem;
}

.list {
  list-style: none;
  align-self: flex-start;
  margin: 1.4rem;
  width: 90%;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
}

.list-items {
  width: 100%;
  display: flex;
  align-items: center;
}

.item-buttons {
  margin-left: auto;
  display: flex;
}

.edit-button {
  margin-right: 1rem;
}

.todo-item {
  margin: 0 1.5rem 0 2rem;
  font-size: 1.4rem;
}

span {
  margin-right: 0.5rem;
}

.stats {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed grey;
}

.clear {
  cursor: pointer;
  transition: all 0.4s;
}

.clear:hover {
  color: red;
}
